#red{
    color: red;
}
#blue{
    color: blue;
}#orange{
    color: orange;
}#green{
    color:green;
}#yellow{
    color: yellow;
}
*{
    font-weight: normal;
}
image{
    height: 40px;;
    width: 60px;;
}

